Repository agentcommunity/agent-interface-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "{packages,protocol,scripts}/**/*.{js,jsx,ts,tsx,json,md,yml,yaml}": "prettier --write",
  "README.md": "prettier --write",
  ".github/**/*.{yml,yaml,md}": "prettier --write"
}

chore: add CLAUDE.md and sync AGENTS.md (#76)
  .github/workflows/security.yml
  AGENTS.md
  CLAUDE.md
Due: prettier --write

feat(protocol): add `ucp` protocol token to Appendix B registry
  packages/aid-dotnet/src/Constants.g.cs
  packages/aid-go/constants_gen.go
  packages/aid-java/src/main/java/org/agentcommunity/aid/Constants.java
  packages/aid-py/aid_py/constants.py
  packages/aid-rs/src/constants_gen.rs
  packages/aid/src/constants.ts
  packages/docs/specification.md
  packages/web/src/components/workbench/generator-panel.tsx
  packages/web/src/generated/examples.ts
  packages/web/src/generated/spec.ts
  packages/web/src/lib/datasources/types.ts
  packages/web/src/lib/protocols/handlers/guidance.ts
  packages/web/src/lib/protocols/index.ts
  protocol/constants.yml
  protocol/examples.yml
  protocol/spec.ts
  showcase/terraform/examples.tf
  test-fixtures/golden.json
Due: eslint --cache --fix, prettier --write

fix(rs,java): add ucp to hardcoded protocol token lists
  packages/aid-java/src/main/java/org/agentcommunity/aid/Parser.java
  packages/aid-rs/src/parser.rs
Due: none

fix(web): add ucp to remaining hardcoded protocol lists
  packages/web/WORKBENCH_COMPONENTS_2.md
  packages/web/src/app/api/generator/validate/route.ts
  packages/web/src/components/workbench/v11-fields/core-fields.tsx
  packages/web/src/lib/generator/core.ts
Due: eslint --cache --fix, prettier --write

docs(tracking): document hardcoded token lists in spec extension process
  tracking/SPEC_EXTENSION_PROCESS.md
Due: none

feat(protocol): add ucp protocol token (#78)
  packages/aid-dotnet/src/Constants.g.cs
  packages/aid-go/constants_gen.go
  packages/aid-java/src/main/java/org/agentcommunity/aid/Constants.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Parser.java
  packages/aid-py/aid_py/constants.py
  packages/aid-rs/src/constants_gen.rs
  packages/aid-rs/src/parser.rs
  packages/aid/src/constants.ts
  packages/docs/specification.md
  packages/web/WORKBENCH_COMPONENTS_2.md
  packages/web/src/app/api/generator/validate/route.ts
  packages/web/src/components/workbench/generator-panel.tsx
  packages/web/src/components/workbench/v11-fields/core-fields.tsx
  packages/web/src/generated/examples.ts
  packages/web/src/generated/spec.ts
  packages/web/src/lib/datasources/types.ts
  packages/web/src/lib/generator/core.ts
  packages/web/src/lib/protocols/handlers/guidance.ts
  packages/web/src/lib/protocols/index.ts
  protocol/constants.yml
  protocol/examples.yml
  protocol/spec.ts
  showcase/terraform/examples.tf
  test-fixtures/golden.json
  tracking/SPEC_EXTENSION_PROCESS.md
Due: eslint --cache --fix, prettier --write

docs(tracking): clarify npm token rotation policy
  tracking/RELEASE.md
Due: none

refactor(web): decompose workbench into focused modules per PRD cleanup plan
  packages/web/WORKBENCH_COMPONENTS_2.md
  packages/web/src/app/globals.css
  packages/web/src/app/workbench/page.tsx
  packages/web/src/components/workbench/blocks/connection-block.tsx
  packages/web/src/components/workbench/blocks/discovery-block.tsx
  packages/web/src/components/workbench/blocks/index.ts
  packages/web/src/components/workbench/blocks/shared.tsx
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/generator-panel.tsx
  packages/web/src/components/workbench/generator/preview-panel.tsx
  packages/web/src/components/workbench/generator/validation-summary.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/hooks/chat-engine/hook.ts
  packages/web/src/hooks/chat-engine/index.ts
  packages/web/src/hooks/chat-engine/orchestration.ts
  packages/web/src/hooks/chat-engine/reducer.ts
  packages/web/src/hooks/chat-engine/types.ts
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/hooks/use-generator-form.ts
Due: eslint --cache --fix, prettier --write

feat(web): curate resolver examples, add SDK snippets, wire generator pre-fill
  packages/web/src/components/workbench/connect-snippet.tsx
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/discovery-success-block.tsx
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/hooks/use-generator-form.ts
  packages/web/src/lib/sdk-snippets.ts
Due: eslint --cache --fix, prettier --write

feat(web): swap A2A for UCP in resolver examples and polish chat UI
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/components/workbench/title-section.tsx
Due: eslint --cache --fix, prettier --write

fix(web): landing page clarity — aliases, protocols, stats, validate step
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/identity.tsx
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/solution.tsx
Due: eslint --cache --fix, prettier --write

chore(release): prepare v1.2.0 package and python bumps
  packages/aid-conformance/CHANGELOG.md
  packages/aid-conformance/package.json
  packages/aid-doctor/CHANGELOG.md
  packages/aid-doctor/package.json
  packages/aid-engine/CHANGELOG.md
  packages/aid-engine/package.json
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/aid-py/pyproject.toml
  packages/aid/CHANGELOG.md
  packages/aid/package.json
Due: prettier --write

chore(release): prepare v1.2.0 package and python bumps (#81)
  packages/aid-conformance/CHANGELOG.md
  packages/aid-conformance/package.json
  packages/aid-doctor/CHANGELOG.md
  packages/aid-doctor/package.json
  packages/aid-engine/CHANGELOG.md
  packages/aid-engine/package.json
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/aid-py/pyproject.toml
  packages/aid/CHANGELOG.md
  packages/aid/package.json
Due: prettier --write

ci(release): switch npm publishing to OIDC trusted publishing
  .github/workflows/release.yml
  tracking/RELEASE.md
Due: prettier --write

ci(release): switch npm publishing to OIDC trusted publishing (#82)
  .github/workflows/release.yml
  tracking/RELEASE.md
Due: prettier --write

feat(web): colorful landing icons, collapsible chat results, show-all examples
  packages/web/src/components/landing/features.tsx
  packages/web/src/components/landing/identity.tsx
  packages/web/src/components/landing/solution.tsx
  packages/web/src/components/landing/vision.tsx
  packages/web/src/components/workbench/collapsible-result.tsx
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/example-picker.tsx
Due: eslint --cache --fix, prettier --write

docs: add handoff guide for web cleanup testing and known issues
  HANDOFF.md
Due: none

feat(web): enliven landing page with scroll-reveal, cycling examples, and button hover fix
  packages/web/src/app/globals.css
  packages/web/src/components/landing/features.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/identity.tsx
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/record-strip.tsx
  packages/web/src/components/landing/reveal.tsx
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/components/landing/solution.tsx
  packages/web/src/components/landing/vision.tsx
  packages/web/src/components/layout/header.tsx
  packages/web/src/components/ui/button.tsx
  packages/web/src/hooks/use-in-view.ts
Due: eslint --cache --fix, prettier --write

feat(web): workbench decomposition, curated examples, collapsible results & landing polish (#83)
  HANDOFF.md
  packages/web/WORKBENCH_COMPONENTS_2.md
  packages/web/src/app/globals.css
  packages/web/src/app/workbench/page.tsx
  packages/web/src/components/landing/features.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/identity.tsx
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/record-strip.tsx
  packages/web/src/components/landing/reveal.tsx
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/components/landing/solution.tsx
  packages/web/src/components/landing/vision.tsx
  packages/web/src/components/layout/header.tsx
  packages/web/src/components/ui/button.tsx
  packages/web/src/components/workbench/blocks/connection-block.tsx
  packages/web/src/components/workbench/blocks/discovery-block.tsx
  packages/web/src/components/workbench/blocks/index.ts
  packages/web/src/components/workbench/blocks/shared.tsx
  packages/web/src/components/workbench/collapsible-result.tsx
  packages/web/src/components/workbench/connect-snippet.tsx
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/discovery-success-block.tsx
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/components/workbench/generator-panel.tsx
  packages/web/src/components/workbench/generator/preview-panel.tsx
  packages/web/src/components/workbench/generator/validation-summary.tsx
  packages/web/src/components/workbench/title-section.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/hooks/chat-engine/hook.ts
  packages/web/src/hooks/chat-engine/index.ts
  packages/web/src/hooks/chat-engine/orchestration.ts
  packages/web/src/hooks/chat-engine/reducer.ts
  packages/web/src/hooks/chat-engine/types.ts
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/hooks/use-generator-form.ts
  packages/web/src/hooks/use-in-view.ts
  packages/web/src/lib/sdk-snippets.ts
Due: eslint --cache --fix, prettier --write

refactor(web): finalize signal-based resolver and SEO metadata
  HANDOFF.md
  packages/web/WORKBENCH_COMPONENTS_2.md
  packages/web/src/app/layout.tsx
  packages/web/src/app/manifest.ts
  packages/web/src/app/not-found.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/robots.ts
  packages/web/src/app/sitemap.ts
  packages/web/src/app/workbench/page.tsx
  packages/web/src/app/workbench/workbench-client.tsx
  packages/web/src/components/workbench/blocks/discovery-block.tsx
  packages/web/src/components/workbench/collapsible-result.tsx
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/discovery-success-block.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/components/workbench/tool-list-summary.tsx
  packages/web/src/hooks/chat-engine/hook.ts
  packages/web/src/hooks/chat-engine/index.ts
  packages/web/src/hooks/chat-engine/orchestration.ts
  packages/web/src/hooks/chat-engine/reducer.ts
  packages/web/src/hooks/chat-engine/signals.ts
  packages/web/src/hooks/chat-engine/types.ts
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/lib/seo.ts
  packages/web/src/tests/chat-engine-reducer.test.ts
  packages/web/src/tests/chat-engine-signals.test.ts
Due: eslint --cache --fix, prettier --write

Claude/review web focus cleanup v2 (#84)
  HANDOFF.md
  packages/web/WORKBENCH_COMPONENTS_2.md
  packages/web/src/app/layout.tsx
  packages/web/src/app/manifest.ts
  packages/web/src/app/not-found.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/robots.ts
  packages/web/src/app/sitemap.ts
  packages/web/src/app/workbench/page.tsx
  packages/web/src/app/workbench/workbench-client.tsx
  packages/web/src/components/workbench/blocks/discovery-block.tsx
  packages/web/src/components/workbench/collapsible-result.tsx
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/discovery-success-block.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/components/workbench/tool-list-summary.tsx
  packages/web/src/hooks/chat-engine/hook.ts
  packages/web/src/hooks/chat-engine/index.ts
  packages/web/src/hooks/chat-engine/orchestration.ts
  packages/web/src/hooks/chat-engine/reducer.ts
  packages/web/src/hooks/chat-engine/signals.ts
  packages/web/src/hooks/chat-engine/types.ts
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/lib/seo.ts
  packages/web/src/tests/chat-engine-reducer.test.ts
  packages/web/src/tests/chat-engine-signals.test.ts
Due: eslint --cache --fix, prettier --write

chore: rename repo from agent-interface-discovery to agent-identity-discovery
  README.md
  agent.md
  package.json
  packages/aid-conformance/README.md
  packages/aid-conformance/package.json
  packages/aid-doctor/README.md
  packages/aid-doctor/package.json
  packages/aid-dotnet/tests/PkaTests.cs
  packages/aid-engine/README.md
  packages/aid-engine/package.json
  packages/aid-go/README.md
  packages/aid-go/package.json
  packages/aid-py/README.md
  packages/aid-py/aid_py/__init__.py
  packages/aid-py/aid_py/discover.py
  packages/aid-py/aid_py/parser.py
  packages/aid-py/package.json
  packages/aid-py/pyproject.toml
  packages/aid-py/tests/test_discover.py
  packages/aid-py/tests/test_parity.py
  packages/aid-py/tests/test_parser.py
  packages/aid-py/tests/test_wellknown.py
  packages/aid-rs/Cargo.toml
  packages/aid-rs/README.md
  packages/aid/README.md
  packages/aid/package.json
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_go.md
  packages/docs/rationale.md
  packages/docs/specification.md
  packages/docs/versioning.md
  packages/e2e-tests/package.json
  packages/web/package.json
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/components/landing/vision.tsx
  packages/web/src/components/layout/footer.tsx
  packages/web/src/components/layout/header.tsx
  settings.gradle
  tracking/AGENT_REPORTS/ci_lang_builds_REPORT.md
Due: eslint --cache --fix, prettier --write

chore: regenerate docs export manifest after repo rename
  packages/docs/export-manifest.json
  packages/docs/export-manifest.sha256
Due: prettier --write

fix(aid-go): use a valid v2 module path
  README.md
  packages/aid-go/README.md
  packages/aid-go/go.mod
  packages/aid-go/release_contract_test.go
  packages/docs/export-manifest.json
  packages/docs/export-manifest.sha256
  packages/docs/quickstart/quickstart_go.md
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/lib/sdk-snippets.ts
  tracking/RELEASE.md
Due: eslint --cache --fix, prettier --write

docs(release): make Go tag publication explicit
  tracking/RELEASE.md
Due: none

fix(release): fail closed Go tag publication
  scripts/go-release-tag.sh
  scripts/test-go-release-tag-guard.sh
  tracking/RELEASE.md
Due: none

test(release): reject any push in tag guard harness
  scripts/test-go-release-tag-guard.sh
Due: none

test(release): parse Git global options in guard harness
  scripts/test-go-release-tag-guard.sh
Due: none

fix(aid-go): publishable v2 module identity (#152)
  README.md
  packages/aid-go/README.md
  packages/aid-go/go.mod
  packages/aid-go/release_contract_test.go
  packages/docs/export-manifest.json
  packages/docs/export-manifest.sha256
  packages/docs/quickstart/quickstart_go.md
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/lib/sdk-snippets.ts
  scripts/go-release-tag.sh
  scripts/test-go-release-tag-guard.sh
  tracking/RELEASE.md
Due: eslint --cache --fix, prettier --write
