Repository agentcommunity/agent-interface-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "{packages,protocol,scripts}/**/*.{js,jsx,ts,tsx,json,md,yml,yaml}": "prettier --write",
  "README.md": "prettier --write",
  ".github/**/*.{yml,yaml,md}": "prettier --write"
}

chore(release): bump packages to v1.1.0 (#67)
  .changeset/aid-conformance.md
  .changeset/aid-engine-public.md
  .changeset/feat-aid-doctor-rework.md
  .changeset/feat-aid-v1.1-compliance.md
  .changeset/v11-parity.md
  packages/aid-conformance/CHANGELOG.md
  packages/aid-conformance/README.md
  packages/aid-conformance/package.json
  packages/aid-doctor/README.md
  packages/aid-doctor/package.json
  packages/aid-engine/CHANGELOG.md
  packages/aid-engine/README.md
  packages/aid-engine/package.json
  packages/aid-rs/README.md
  packages/aid/CHANGELOG.md
  packages/aid/README.md
  packages/aid/package.json
  packages/docs/index.md
Due: prettier --write

fix(aid-engine): correct publish config for public npm access
  .changeset/odd-paws-lead.md
  packages/aid-engine/package.json
Due: prettier --write

chore(release): bump aid-engine to v0.2.1
  .changeset/odd-paws-lead.md
  packages/aid-doctor/CHANGELOG.md
  packages/aid-doctor/package.json
  packages/aid-engine/CHANGELOG.md
  packages/aid-engine/package.json
Due: prettier --write

Release/v1.1.0 (#68)
  packages/aid-doctor/CHANGELOG.md
  packages/aid-doctor/package.json
  packages/aid-engine/CHANGELOG.md
  packages/aid-engine/package.json
Due: prettier --write

header
  packages/web/src/components/layout/header.tsx
Due: eslint --cache --fix, prettier --write

build commit
  packages/web/src/components/layout/header.tsx
Due: eslint --cache --fix, prettier --write

run all CIs all times
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
Due: prettier --write

run only when needed
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
Due: prettier --write

Small fixes (#69)
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
  packages/web/src/components/layout/header.tsx
Due: eslint --cache --fix, prettier --write

feat: implement single source of truth for examples
  .github/workflows/ci-typescript.yml
  AGENTS.md
  EXAMPLES.md
  README.md
  package.json
  packages/web/src/generated/examples.ts
  packages/web/src/lib/constants.ts
  protocol/examples.yml
  scripts/generate-examples.ts
  showcase/terraform/examples.tf
  showcase/terraform/main.tf
  turbo.json
Due: eslint --cache --fix, prettier --write

Examples (#70)
  .github/workflows/ci-typescript.yml
  AGENTS.md
  EXAMPLES.md
  README.md
  package.json
  packages/web/src/generated/examples.ts
  packages/web/src/lib/constants.ts
  protocol/examples.yml
  scripts/generate-examples.ts
  showcase/terraform/examples.tf
  showcase/terraform/main.tf
  turbo.json
Due: eslint --cache --fix, prettier --write

fix: resolve linting and build issues after merge
  packages/web/src/lib/constants.ts
  scripts/generate-examples.ts
Due: eslint --cache --fix, prettier --write

fix(web): protocol-aware connection handling and DNS examples
  packages/web/src/app/api/handshake/route.ts
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/generated/examples.ts
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/hooks/use-connection.ts
  packages/web/src/lib/constants.ts
  packages/web/src/lib/datasources/live-datasource.ts
  packages/web/src/lib/datasources/mock-datasource.ts
  packages/web/src/lib/datasources/types.ts
  protocol/examples.yml
  scripts/generate-examples.ts
  showcase/terraform/examples.tf
Due: eslint --cache --fix, prettier --write

feat(web): add protocol-aware connection handling with A2A support
  packages/web/WORKBENCH_COMPONENTS_2.md
  packages/web/src/app/api/handshake/route.ts
  packages/web/src/components/workbench/a2a-card.tsx
  packages/web/src/components/workbench/auth-prompts/auth-prompt.tsx
  packages/web/src/components/workbench/auth-prompts/index.tsx
  packages/web/src/components/workbench/auth-prompts/local-cli-notice.tsx
  packages/web/src/components/workbench/auth-prompts/oauth-prompt.tsx
  packages/web/src/components/workbench/auth-prompts/pat-prompt.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/hooks/use-connection.ts
  packages/web/src/lib/datasources/live-datasource.ts
  packages/web/src/lib/datasources/types.ts
  packages/web/src/lib/protocols/handlers/a2a.ts
  packages/web/src/lib/protocols/handlers/guidance.ts
  packages/web/src/lib/protocols/handlers/mcp.ts
  packages/web/src/lib/protocols/index.ts
  packages/web/src/lib/protocols/types.ts
  packages/web/src/lib/protocols/utils.ts
Due: eslint --cache --fix, prettier --write

fix: resolve TypeScript type error in A2A protocol handler
  packages/web/src/lib/protocols/handlers/a2a.ts
Due: eslint --cache --fix, prettier --write

fix: resolve security vulnerabilities in dependencies
  .cursor/plans/protocol-3935d0-e28b5936.plan.md
  .cursor/plans/protocol-43b58f45.plan.md
  package.json
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: handle DNS discovery errors in aid-engine checker
  packages/aid-engine/src/checker.ts
Due: eslint --cache --fix, prettier --write

fix: remove failing domains from E2E tests
  packages/e2e-tests/src/e2e.ts
Due: eslint --cache --fix, prettier --write

Fix/security linting build issues (#71)
  .cursor/plans/protocol-3935d0-e28b5936.plan.md
  .cursor/plans/protocol-43b58f45.plan.md
  package.json
  packages/aid-engine/src/checker.ts
  packages/e2e-tests/src/e2e.ts
  packages/web/WORKBENCH_COMPONENTS_2.md
  packages/web/package.json
  packages/web/src/app/api/handshake/route.ts
  packages/web/src/components/workbench/a2a-card.tsx
  packages/web/src/components/workbench/auth-prompts/auth-prompt.tsx
  packages/web/src/components/workbench/auth-prompts/index.tsx
  packages/web/src/components/workbench/auth-prompts/local-cli-notice.tsx
  packages/web/src/components/workbench/auth-prompts/oauth-prompt.tsx
  packages/web/src/components/workbench/auth-prompts/pat-prompt.tsx
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/generated/examples.ts
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/hooks/use-connection.ts
  packages/web/src/lib/constants.ts
  packages/web/src/lib/datasources/live-datasource.ts
  packages/web/src/lib/datasources/mock-datasource.ts
  packages/web/src/lib/datasources/types.ts
  packages/web/src/lib/protocols/handlers/a2a.ts
  packages/web/src/lib/protocols/handlers/guidance.ts
  packages/web/src/lib/protocols/handlers/mcp.ts
  packages/web/src/lib/protocols/index.ts
  packages/web/src/lib/protocols/types.ts
  packages/web/src/lib/protocols/utils.ts
  pnpm-lock.yaml
  protocol/examples.yml
  scripts/generate-examples.ts
  showcase/terraform/examples.tf
Due: eslint --cache --fix, prettier --write

Fix React Server Components CVE vulnerabilities
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --write

workbench flow improve
  packages/web/src/components/workbench/auth-prompts/index.tsx
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/generated/examples.ts
  packages/web/src/lib/constants.ts
Due: eslint --cache --fix, prettier --write

refactor(examples): sync source files with generated outputs
  protocol/examples.yml
  scripts/generate-examples.ts
Due: prettier --write

fix(workbench): prevent double scrollbar in main layout
  packages/web/src/app/layout.tsx
Due: eslint --cache --fix, prettier --write

ci: optimize workflows with path filters
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
Due: prettier --write

cli github
  .github/CLI_GITHUB.md
Due: prettier --write

workbench flow improve (#73)
  .github/CLI_GITHUB.md
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
  packages/web/src/app/layout.tsx
  packages/web/src/components/workbench/auth-prompts/index.tsx
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/generated/examples.ts
  packages/web/src/lib/constants.ts
  protocol/examples.yml
  scripts/generate-examples.ts
Due: eslint --cache --fix, prettier --write

fix(web): improve landing page
  .changeset/landing-page-updates.md
  packages/web/src/app/layout.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/record-strip.tsx
Due: eslint --cache --fix, prettier --write

chore(repo): ignore cursor plans
  .cursor/plans/protocol-3935d0-e28b5936.plan.md
  .cursor/plans/protocol-43b58f45.plan.md
  .gitignore
Due: none

fix(web): update header CTA
  packages/web/src/components/layout/header.tsx
Due: eslint --cache --fix, prettier --write

fix(web): update deps for security audit
  package.json
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(parity): refresh golden dep timestamp
  test-fixtures/golden.json
Due: none

chore(ci): run language workflows on all prs
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
Due: prettier --write

fix(web): improve landing page (#74)
  .changeset/landing-page-updates.md
  .cursor/plans/protocol-3935d0-e28b5936.plan.md
  .cursor/plans/protocol-43b58f45.plan.md
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .gitignore
  package.json
  packages/web/package.json
  packages/web/src/app/layout.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/record-strip.tsx
  packages/web/src/components/layout/header.tsx
  pnpm-lock.yaml
  test-fixtures/golden.json
Due: eslint --cache --fix, prettier --write

chore(ci): fix trufflehog diff scan
  .github/CLI_GITHUB.md
  .github/workflows/security.yml
  README.md
Due: prettier --write

chore(ci): remove path filters from build and parity workflows
  .github/workflows/ci-parity.yml
  .github/workflows/ci-typescript.yml
Due: prettier --write

fix(security): bump vulnerable deps, lower audit threshold to critical
  .github/workflows/security.yml
  package.json
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci): fix trufflehog diff scan (#75)
  .github/CLI_GITHUB.md
  .github/workflows/ci-parity.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
  README.md
  package.json
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add CLAUDE.md and sync AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

chore(ci): remove path filters from security workflow
  .github/workflows/security.yml
Due: prettier --write
