Repository agentcommunity/agent-interface-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

lint fix
  .github/workflows/ci.yml
  .gitignore
  README.md
  eslint.config.mjs
  package.json
  packages/aid-doctor/package.json
  packages/aid-doctor/src/cli.test.ts
  packages/aid-doctor/src/cli.ts
  packages/aid-doctor/src/index.ts
  packages/aid-doctor/tsconfig.json
  packages/aid/package.json
  packages/aid/src/browser.ts
  packages/aid/src/client.ts
  packages/aid/src/constants.ts
  packages/aid/src/index.ts
  packages/aid/src/parser.test.ts
  packages/aid/src/parser.ts
  packages/aid/src/security.test.ts
  packages/aid/src/security.ts
  packages/aid/tsconfig.json
  packages/aid/tsup.config.ts
  packages/docs/specification.md
  pnpm-lock.yaml
  protocol/constants.yml
  scripts/generate-constants.ts
  tracking/PHASE_0.md
  tracking/PHASE_1.md
Due: eslint --fix, prettier --write

chore(gen): switch generator output to single quotes for stable CI diff
  scripts/generate-constants.ts
Due: eslint --fix, prettier --write

refactor: use top-level await in generate-constants script
  scripts/generate-constants.ts
  scripts/package.json
Due: eslint --fix, prettier --write

fix: ensure consistent prettier formatting across all environments
  scripts/generate-constants.ts
Due: eslint --fix, prettier --write

fix: correct TypeScript error in CLI formatDiscoveryResult function
  packages/aid-doctor/src/cli.ts
Due: eslint --fix, prettier --write

feat(core): Complete Phase 1 implementation of AID standard (#2)
  .github/workflows/ci.yml
  .gitignore
  README.md
  eslint.config.mjs
  package.json
  packages/aid-doctor/package.json
  packages/aid-doctor/src/cli.test.ts
  packages/aid-doctor/src/cli.ts
  packages/aid-doctor/src/index.ts
  packages/aid-doctor/tsconfig.json
  packages/aid/package.json
  packages/aid/src/browser.ts
  packages/aid/src/client.ts
  packages/aid/src/constants.ts
  packages/aid/src/index.ts
  packages/aid/src/parser.test.ts
  packages/aid/src/parser.ts
  packages/aid/src/security.test.ts
  packages/aid/src/security.ts
  packages/aid/tsconfig.json
  packages/aid/tsup.config.ts
  packages/docs/specification.md
  pnpm-lock.yaml
  protocol/constants.yml
  scripts/generate-constants.ts
  scripts/package.json
  tracking/PHASE_0.md
  tracking/PHASE_1.md
Due: eslint --fix, prettier --write

fix(test): replace __dirname with import.meta.url in parity test to satisfy unicorn rule
  .github/workflows/ci.yml
  .github/workflows/showcase-dns.yml
  README.md
  packages/aid-go/constants.go
  packages/aid-go/discover.go
  packages/aid-go/discover_test.go
  packages/aid-go/error.go
  packages/aid-go/go.mod
  packages/aid-go/go.sum
  packages/aid-go/parity_test.go
  packages/aid-go/parser.go
  packages/aid-go/parser_test.go
  packages/aid-go/record.go
  packages/aid-py/README.md
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/aid-py/aid_discovery.egg-info/SOURCES.txt
  packages/aid-py/aid_discovery.egg-info/dependency_links.txt
  packages/aid-py/aid_discovery.egg-info/requires.txt
  packages/aid-py/aid_discovery.egg-info/top_level.txt
  packages/aid-py/aid_py/__init__.py
  packages/aid-py/aid_py/__pycache__/__init__.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/constants.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/discover.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/parser.cpython-313.pyc
  packages/aid-py/aid_py/constants.py
  packages/aid-py/aid_py/discover.py
  packages/aid-py/aid_py/parser.py
  packages/aid-py/pyproject.toml
  packages/aid-py/tests/__pycache__/test_discover.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/__pycache__/test_parity.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/__pycache__/test_parser.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/test_discover.py
  packages/aid-py/tests/test_parity.py
  packages/aid-py/tests/test_parser.py
  packages/aid/src/parity.test.ts
  showcase/terraform/main.tf
  test-fixtures/golden.json
  tracking/PHASE_2.md
Due: eslint --fix, prettier --write

feat(showcase): add full set of TXT records (simple, local-docker, messy, multi-string, supabase, auth0, openai)
  showcase/terraform/main.tf
  tracking/PHASE_2.md
Due: prettier --write

fix(terraform): use 'domain' attribute instead of unsupported 'zone' for vercel_dns_record
  showcase/terraform/main.tf
Due: none

fix(workflow): use VERCEL_API_TOKEN env var expected by provider
  .github/workflows/showcase-dns.yml
Due: prettier --write

feat: Implement Phase 2 - Multi-Language Support (Python, Go) & IaC for Showcase Zone (#3)
  .github/workflows/ci.yml
  .github/workflows/showcase-dns.yml
  README.md
  packages/aid-go/constants.go
  packages/aid-go/discover.go
  packages/aid-go/discover_test.go
  packages/aid-go/error.go
  packages/aid-go/go.mod
  packages/aid-go/go.sum
  packages/aid-go/parity_test.go
  packages/aid-go/parser.go
  packages/aid-go/parser_test.go
  packages/aid-go/record.go
  packages/aid-py/README.md
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/aid-py/aid_discovery.egg-info/SOURCES.txt
  packages/aid-py/aid_discovery.egg-info/dependency_links.txt
  packages/aid-py/aid_discovery.egg-info/requires.txt
  packages/aid-py/aid_discovery.egg-info/top_level.txt
  packages/aid-py/aid_py/__init__.py
  packages/aid-py/aid_py/__pycache__/__init__.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/constants.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/discover.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/parser.cpython-313.pyc
  packages/aid-py/aid_py/constants.py
  packages/aid-py/aid_py/discover.py
  packages/aid-py/aid_py/parser.py
  packages/aid-py/pyproject.toml
  packages/aid-py/tests/__pycache__/test_discover.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/__pycache__/test_parity.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/__pycache__/test_parser.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/test_discover.py
  packages/aid-py/tests/test_parity.py
  packages/aid-py/tests/test_parser.py
  packages/aid/src/parity.test.ts
  showcase/terraform/main.tf
  test-fixtures/golden.json
  tracking/PHASE_2.md
Due: eslint --fix, prettier --write

fix(terraform): add team_id variable and provider config; workflow passes VERCEL_TEAM_ID secret to Init/Plan/Apply
  .github/workflows/showcase-dns.yml
  showcase/terraform/main.tf
Due: prettier --write

fix(terraform): move team_id to vercel_dns_record resource; provider no longer includes unsupported attr
  showcase/terraform/main.tf
Due: none

fix(terraform): use apex domain and fully-qualified record names; update workflow vars
  .github/workflows/showcase-dns.yml
  showcase/terraform/main.tf
Due: prettier --write

fix(terraform): Refactor DNS record names for Vercel provider
  showcase/terraform/main.tf
Due: none

fix(terraform): Refactor DNS record names for Vercel provider (#4)
  showcase/terraform/main.tf
Due: none

feat(terraform): Delegate showcase to its own zone
  .github/workflows/showcase-dns.yml
  packages/aid-py/tests/__pycache__/test_discover.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/__pycache__/test_parity.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/__pycache__/test_parser.cpython-313-pytest-8.4.1.pyc
  showcase/terraform/main.tf
Due: prettier --write

fix(terraform): Simplify DNS records to use main domain
  showcase/terraform/main.tf
Due: none

fix(terraform): Simplify DNS records to use main domain (#5)
  showcase/terraform/main.tf
Due: none

feat(e2e): add end-to-end test suite, CI integration, and documentation updates
  .github/workflows/ci.yml
  README.md
  package.json
  packages/aid-doctor/src/cli.ts
  packages/e2e-tests/package.json
  packages/e2e-tests/src/e2e.ts
  pnpm-lock.yaml
  tracking/PHASE_2.md
  turbo.json
Due: eslint --fix, prettier --write

chore(terraform): set TTL to 360s for showcase records\ndocs(spec): clarify DNSSEC default and client validation guidance
  packages/docs/specification.md
  showcase/terraform/main.tf
Due: prettier --write

Feat/e2e tests _Add live end-to-end tests + CI integration_ (#7)
  .github/workflows/ci.yml
  README.md
  package.json
  packages/aid-doctor/src/cli.ts
  packages/e2e-tests/package.json
  packages/e2e-tests/src/e2e.ts
  pnpm-lock.yaml
  tracking/PHASE_2.md
  turbo.json
Due: eslint --fix, prettier --write

fix(dns): use public resolvers in Node discovery to avoid CI EAI_AGAIN errors
  packages/aid/src/client.ts
Due: eslint --fix, prettier --write

test(e2e): limit suite to live endpoints to avoid example.com failures
  packages/e2e-tests/src/e2e.ts
Due: eslint --fix, prettier --write

feat(cli): allow skipping redirect security via AID_SKIP_SECURITY (for CI placeholders)\ntest(e2e): re-enable all showcase domains with skip flag
  packages/aid-doctor/src/cli.ts
  packages/e2e-tests/src/e2e.ts
Due: eslint --fix, prettier --write

Chore/ttl dnssec _Terraform TTL = 360 s + DNSSEC blurb in spec_ (#8)
  packages/aid-doctor/src/cli.ts
  packages/aid/src/client.ts
  packages/aid/src/parser.test.ts
  packages/aid/src/parser.ts
  packages/docs/specification.md
  packages/e2e-tests/src/e2e.ts
  showcase/terraform/main.tf
Due: eslint --fix, prettier --write

feat(cli): allow skipping redirect security via AID_SKIP_SECURITY (for CI placeholders)\ntest(e2e): re-enable all showcase domains with skip flag
  packages/e2e-tests/src/e2e.ts
Due: eslint --fix, prettier --write

fix(discover): trim whitespace before version check to accept records with leading spaces
  packages/aid/src/client.ts
Due: eslint --fix, prettier --write

Chore/ttl dnssec (#9)
  packages/aid/src/client.ts
Due: eslint --fix, prettier --write

docs(tracking): mark TTL/parser improvements complete in Phase 2
  tracking/PHASE_2.md
Due: prettier --write

Chore/ttl dnssec (#10)
  tracking/PHASE_2.md
Due: prettier --write

ci update
  .github/workflows/ci.yml
Due: prettier --write

vercel hosting
  vercel.json
Due: prettier --write

remove vercel
  vercel.json
Due: prettier --write

deploy fixes
  turbo.json
Due: prettier --write

updating header to just work
  packages/web/src/app/layout.tsx
  packages/web/src/app/page.tsx
  packages/web/src/components/layout/header.tsx
Due: eslint --fix, prettier --write

imprving aid-web-generator
  packages/web-generator/package.json
  packages/web-generator/src/cli.ts
  packages/web/src/components/workbench/generator-panel.tsx
  pnpm-lock.yaml
  tracking/feat:web-fixes.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
