Repository agentcommunity/agent-interface-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

ci(java): make gradle wrapper validation non-blocking
  .github/workflows/ci.yml
Due: prettier --write

refactor(java): overhaul HandshakeTest and harden Gradle build
  .github/workflows/ci.yml
  gradle.properties
  packages/aid-java/build.gradle
  packages/aid-java/src/test/java/org/agentcommunity/aid/HandshakeTest.java
  packages/aid-java/src/test/resources/vectors.json
Due: prettier --write

fix(java): align gradle toolchain to java 21
  packages/aid-java/build.gradle
Due: none

fix(java): correct gradle dsl and jackson dependency scope
  packages/aid-java/build.gradle
Due: none

chore: optimize CI workflows
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
  scripts/parity-check.sh
Due: prettier --write

fix: CI failures and improve filtering
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
  package.json
Due: prettier --write

feat: add workflow_dispatch trigger to all CI workflows
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
  scripts/parity-check.sh
Due: prettier --write

ci: remove monolithic workflow
  .github/workflows/ci.yml
Due: prettier --write

fix: python editable install in test:parity script
  .github/workflows/ci-typescript.yml
  package.json
Due: prettier --write

fix: CI workflow argument parsing and directory context
  .github/workflows/ci-typescript.yml
  package.json
Due: prettier --write

fix: CodeQL security and resource warnings in Python and .NET
  .github/workflows/ci-parity.yml
  .github/workflows/ci-typescript.yml
  package.json
  packages/aid-dotnet/src/Handshake.cs
  packages/aid-dotnet/tests/PkaTests.cs
  packages/aid-py/aid_py/parser.py
  packages/aid-py/aid_py/pka.py
  scripts/parity-check.sh
Due: prettier --write

fix: address security and code quality issues in Python, Java, and TypeScript; add workflow_dispatch to security workflow
  .github/workflows/security.yml
  packages/aid-conformance/src/runner.ts
  packages/aid-java/src/main/java/org/agentcommunity/aid/Handshake.java
  packages/aid-py/aid_py/pka.py
  tracking/PHASE_0.md
Due: eslint --cache --fix, prettier --write

security patches across the repository
  packages/aid-py/aid_py/pka.py
Due: none

docs: enhance v1.1 identity and discovery narrative
  packages/docs/Reference/identity_pka.md
  packages/docs/Reference/whats_new.md
  packages/docs/index.md
  packages/docs/rationale.md
Due: prettier --write

security: harden PKA handshake implementations across all SDKs
  README.md
  packages/aid-dotnet/src/Handshake.cs
  packages/aid-go/pka.go
  packages/aid-java/src/main/java/org/agentcommunity/aid/Handshake.java
  packages/aid-rs/src/pka.rs
  packages/aid/src/pka.ts
Due: eslint --cache --fix, prettier --write

docs: update what's new page with v1.1 enhancements
  packages/docs/Reference/whats_new.md
Due: prettier --write

rebrand: rename to 'Agent Identity & Discovery (AID)'
  CONTRIBUTING.md
  README.md
  agent.md
  packages/aid-conformance/README.md
  packages/aid-conformance/package.json
  packages/aid-doctor/README.md
  packages/aid-doctor/package.json
  packages/aid-doctor/src/cli.ts
  packages/aid-doctor/src/generator.ts
  packages/aid-doctor/src/index.ts
  packages/aid-dotnet/README.md
  packages/aid-go/README.md
  packages/aid-java/README.md
  packages/aid-py/README.md
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/aid-py/aid_py/__init__.py
  packages/aid-py/aid_py/discover.py
  packages/aid-py/pyproject.toml
  packages/aid-rs/Cargo.toml
  packages/aid-rs/README.md
  packages/aid/README.md
  packages/aid/package.json
  packages/aid/src/browser.ts
  packages/aid/src/index.ts
  packages/docs/blog/finding_door_a2a.md
  packages/docs/blog/missing_grep_mcp.md
  packages/docs/blog/missing_record.md
  packages/docs/blog/what_when_domain.md
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/rationale.md
  packages/docs/specification.md
  packages/docs/versioning.md
  showcase/terraform/README.md
  tracking/SPEC_1.1_extension.md.md
Due: eslint --cache --fix, prettier --write

rebrand: complete final touches for architecture and blog content
  .github/ARCHITECTURE.md
  packages/docs/blog/what_when_domain.md
Due: prettier --write

feat(aid-doctor): world-class CLI rework (v1.1) — base-first discovery, strict validation, TLS/DNSSEC checks, PKA presence, downgrade cache, JSON, wizard, key helpers; add E2E and docs
  .changeset/feat-aid-doctor-rework.md
  .github/ARCHITECTURE.md
  packages/aid-doctor/src/cache.ts
  packages/aid-doctor/src/checker.ts
  packages/aid-doctor/src/cli.ts
  packages/aid-doctor/src/dns.ts
  packages/aid-doctor/src/dnssec.ts
  packages/aid-doctor/src/generator.ts
  packages/aid-doctor/src/keys.ts
  packages/aid-doctor/src/tls_inspect.ts
  packages/aid-doctor/src/types.ts
  packages/docs/Reference/aid_doctor.md
  packages/docs/Reference/aid_doctor_e2e.md
  packages/docs/blog/finding_door_a2a.md
  packages/docs/blog/missing_grep_mcp.md
  packages/docs/blog/missing_record.md
  packages/docs/blog/what_when_domain.md
  packages/e2e-tests/src/aid_doctor.e2e.ts
  tracking/AGENT_REPORTS/feat_aid_doctor_rework_REPORT.md
Due: eslint --cache --fix, prettier --write

docs: reorganize documentation structure
  AGENTS.md
  packages/docs/AGENTS.md
  packages/docs/Reference/aid_doctor_e2e.md
  packages/docs/Reference/discovery_api.md
  packages/docs/Reference/identity_pka.md
  packages/docs/Reference/protocols.md
  packages/docs/Reference/troubleshooting.md
  packages/docs/Reference/well_known_json.md
  packages/docs/Reference/whats_new.md
  packages/docs/Tooling/aid_doctor.md
  packages/docs/Tooling/conformance.md
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_browser.md
  packages/docs/quickstart/quickstart_dotnet.md
  packages/docs/quickstart/quickstart_go.md
  packages/docs/quickstart/quickstart_java.md
  packages/docs/quickstart/quickstart_python.md
  packages/docs/quickstart/quickstart_rust.md
  packages/docs/quickstart/quickstart_ts.md
  packages/docs/rationale.md
  packages/docs/security.md
  packages/docs/specification.md
Due: prettier --write

feat: enhance aid-doctor CLI with comprehensive improvements
  .github/ARCHITECTURE.md
  README.md
  packages/aid-doctor/src/checker.ts
  packages/aid-doctor/src/cli.test.ts
  packages/aid-doctor/src/cli.ts
  packages/aid-doctor/src/error_messages.ts
  packages/aid-doctor/src/output.test.ts
  packages/aid-doctor/src/output.ts
  packages/aid-doctor/src/protoProbe.test.ts
  packages/aid-doctor/src/protoProbe.ts
  packages/aid-doctor/src/types.ts
  packages/aid/src/client.ts
  packages/aid/src/index.ts
  packages/aid/src/parser.ts
  packages/docs/Tooling/aid_doctor.md
Due: eslint --cache --fix, prettier --write

fix(aid): preserve ERR_SECURITY errors in PKA verification
  packages/aid/src/browser.ts
  packages/aid/src/client.ts
Due: eslint --cache --fix, prettier --write

fix(aid-doctor): fix error code type mismatch in checker.ts
  packages/aid-doctor/src/checker.ts
Due: eslint --cache --fix, prettier --write

fix(aid-doctor): skip TLS inspection for HTTP URLs in e2e tests
  packages/aid-doctor/src/checker.ts
Due: eslint --cache --fix, prettier --write

feat(aid-engine): create @agentcommunity/aid-engine package
  .changeset/aid-engine-public.md
  packages/aid-engine/README.md
  packages/aid-engine/package.json
  packages/aid-engine/src/checker.ts
  packages/aid-engine/src/dns.ts
  packages/aid-engine/src/dnssec.ts
  packages/aid-engine/src/error_messages.test.ts
  packages/aid-engine/src/error_messages.ts
  packages/aid-engine/src/generator.test.ts
  packages/aid-engine/src/generator.ts
  packages/aid-engine/src/index.ts
  packages/aid-engine/src/keys.test.ts
  packages/aid-engine/src/keys.ts
  packages/aid-engine/src/protoProbe.ts
  packages/aid-engine/src/tls_inspect.ts
  packages/aid-engine/src/types.ts
  packages/aid-engine/tsconfig.json
  packages/aid-engine/tsup.config.bundled_0d0kugbprslq.mjs
  packages/aid-engine/tsup.config.bundled_x7e2yhljjj.mjs
  packages/aid-engine/tsup.config.ts
  packages/docs/Tooling/aid_engine.md
Due: eslint --cache --fix, prettier --write

feat(aid-doctor): world-class CLI rework with v1.1 compliance
  packages/aid-doctor/README.md
  packages/aid-doctor/package.json
  packages/aid-doctor/src/checker.ts
  packages/aid-doctor/src/cli.test.ts
  packages/aid-doctor/src/cli.ts
  packages/aid-doctor/src/dns.ts
  packages/aid-doctor/src/dnssec.ts
  packages/aid-doctor/src/error_messages.ts
  packages/aid-doctor/src/generator.ts
  packages/aid-doctor/src/keys.ts
  packages/aid-doctor/src/output.test.ts
  packages/aid-doctor/src/output.ts
  packages/aid-doctor/src/protoProbe.test.ts
  packages/aid-doctor/src/protoProbe.ts
  packages/aid-doctor/src/tls_inspect.ts
  packages/aid-doctor/src/types.ts
Due: eslint --cache --fix, prettier --write

docs: comprehensive README updates and SEO improvements
  .github/ARCHITECTURE.md
  README.md
  packages/aid-conformance/README.md
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/aid-py/pyproject.toml
  packages/aid/README.md
  packages/docs/Tooling/aid_doctor.md
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_ts.md
  pnpm-lock.yaml
Due: prettier --write

cleaning deploys
  packages/web/WORKBENCH_COMPONENTS.md
  packages/web/package.json
  packages/web/vitest.config.ts
Due: eslint --cache --fix, prettier --write

feat(web): reorganize toolkit showcase and fix favicon configuration
  packages/web/src/app/layout.tsx
  packages/web/src/app/not-found.tsx
  packages/web/src/app/page.tsx
  packages/web/src/components/landing/features.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/identity.tsx
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/record-strip.tsx
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/components/landing/solution.tsx
  packages/web/src/components/landing/vision.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix(ci): add feat/aid1.1-spec branch to all CI workflow triggers
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
  .github/workflows/showcase-dns.yml
Due: prettier --write

fix(ci): add feat/aid1.1-spec branch to all CI workflow triggers (#66)
  .github/workflows/ci-dotnet.yml
  .github/workflows/ci-go.yml
  .github/workflows/ci-java.yml
  .github/workflows/ci-parity.yml
  .github/workflows/ci-python.yml
  .github/workflows/ci-rust.yml
  .github/workflows/ci-typescript.yml
  .github/workflows/security.yml
  .github/workflows/showcase-dns.yml
Due: prettier --write

feat: enhance website documentation discoverability
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/components/landing/solution.tsx
  packages/web/src/components/layout/footer.tsx
Due: eslint --cache --fix, prettier --write

docs: update documentation for AID 1.1 specification
  packages/docs/Reference/identity_pka.md
  packages/docs/quickstart/quickstart_a2a.md
  packages/docs/quickstart/quickstart_browser.md
  packages/docs/quickstart/quickstart_dotnet.md
  packages/docs/quickstart/quickstart_go.md
  packages/docs/quickstart/quickstart_java.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/quickstart/quickstart_openapi.md
  packages/docs/quickstart/quickstart_python.md
  packages/docs/quickstart/quickstart_rust.md
  packages/docs/quickstart/quickstart_ts.md
  packages/docs/rationale.md
  packages/docs/security.md
  packages/docs/specification.md
  packages/docs/versioning.md
Due: prettier --write

header update
  packages/web/src/components/layout/header.tsx
Due: eslint --cache --fix, prettier --write

OG Card
  packages/web/public/og-card.png
Due: none

chore(release): bump packages to v1.1.0
  .changeset/aid-conformance.md
  .changeset/aid-engine-public.md
  .changeset/feat-aid-doctor-rework.md
  .changeset/feat-aid-v1.1-compliance.md
  .changeset/v11-parity.md
  packages/aid-conformance/CHANGELOG.md
  packages/aid-conformance/package.json
  packages/aid-doctor/package.json
  packages/aid-engine/CHANGELOG.md
  packages/aid-engine/package.json
  packages/aid/CHANGELOG.md
  packages/aid/package.json
Due: prettier --write

docs: enhance package READMEs with marketing language
  packages/aid-conformance/README.md
  packages/aid-doctor/README.md
  packages/aid-engine/README.md
  packages/aid/README.md
  packages/docs/index.md
Due: prettier --write

docs: update remaining package READMEs with marketing language
  packages/aid-doctor/README.md
  packages/aid-rs/README.md
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: packages/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: {packages,protocol,scripts}/**/*.{js,jsx,ts,tsx,json,md,yml,yaml}) or (any of: README.md)) or (any of: .github/**/*.{yml,yaml,md})
