Repository agentcommunity/agent-interface-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

web(features): apply subtle amber accent to problem icons to match hero badge styling
  packages/web/src/components/landing/features.tsx
Due: eslint --cache --fix, prettier --write

web(features): keep icon container neutral (gray) with amber icon accent only
  packages/web/src/components/landing/features.tsx
Due: eslint --cache --fix, prettier --write

web(features): switch problem icons to neutral (text-foreground)
  packages/web/src/components/landing/features.tsx
Due: eslint --cache --fix, prettier --write

chore(showcase): parameterize TTL, add optional underscore protocol-specific examples, and add README with usage/safety notes (#50)
  showcase/terraform/README.md
  showcase/terraform/main.tf
  tracking/AGENT_REPORTS/chore_terraform_showcase_REPORT.md
Due: prettier --write

Docs/readme arch website fixes (#51)
  .github/ARCHITECTURE.md
  README.md
  packages/web/src/components/landing/features.tsx
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/components/landing/vision.tsx
  tracking/POST_RELEASE_TODO.md
Due: eslint --cache --fix, prettier --write

revert: keep README changes out of feat/hero_update; focus branch on metadata/hero/solution updates only
  packages/aid-doctor/README.md
  packages/aid/README.md
Due: prettier --write

web(hero): shorten subheading to ‘DNS for agents.’
  packages/web/src/components/landing/hero.tsx
Due: eslint --cache --fix, prettier --write

web(hero): add supporting line — ‘One _agent TXT record for instant discovery.’
  packages/web/src/components/landing/hero.tsx
Due: eslint --cache --fix, prettier --write

web: add RecordStrip between hero and quick start; keep hero concise
  packages/web/src/app/page.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/record-strip.tsx
Due: eslint --cache --fix, prettier --write

web(record-strip): make strip site-wide (bg-muted with border-y)
  packages/web/src/components/landing/record-strip.tsx
Due: eslint --cache --fix, prettier --write

web(version): set fallback to 1.0.0; keep API route for dynamic version
  packages/web/src/lib/utils.ts
Due: eslint --cache --fix, prettier --write

Feat/hero update (#53)
  packages/web/src/app/layout.tsx
  packages/web/src/app/page.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/record-strip.tsx
  packages/web/src/components/landing/solution.tsx
  packages/web/src/lib/utils.ts
Due: eslint --cache --fix, prettier --write

docs: document extended generator (Rust/.NET/Java) in Architecture/README; note criteria in POST_RELEASE_TODO
  .github/ARCHITECTURE.md
  README.md
  tracking/POST_RELEASE_TODO.md
Due: prettier --write

Feat/generator rs dotnet java (#54)
  .github/ARCHITECTURE.md
  README.md
  scripts/generate-constants.ts
  tracking/POST_RELEASE_TODO.md
Due: eslint --cache --fix, prettier --write

feat(aid-rs): add Rust crate with parser, generated constants, parity tests, docs, and report
  .gitignore
  packages/aid-rs/Cargo.lock
  packages/aid-rs/Cargo.toml
  packages/aid-rs/README.md
  packages/aid-rs/src/constants_gen.rs
  packages/aid-rs/src/errors.rs
  packages/aid-rs/src/lib.rs
  packages/aid-rs/src/parser.rs
  packages/aid-rs/src/record.rs
  packages/aid-rs/tests/parity.rs
  tracking/AGENT_REPORTS/feat_aid_rs_REPORT.md
Due: prettier --write

feat(aid-rs): add Rust crate with parser, generated constants, parity tests, docs, and report (#55)
  .gitignore
  packages/aid-rs/Cargo.lock
  packages/aid-rs/Cargo.toml
  packages/aid-rs/README.md
  packages/aid-rs/src/constants_gen.rs
  packages/aid-rs/src/errors.rs
  packages/aid-rs/src/lib.rs
  packages/aid-rs/src/parser.rs
  packages/aid-rs/src/record.rs
  packages/aid-rs/tests/parity.rs
  tracking/AGENT_REPORTS/feat_aid_rs_REPORT.md
Due: prettier --write

Checkpoint before follow-up message
  packages/aid-dotnet/AidDiscovery.sln
  packages/aid-dotnet/README.md
  packages/aid-dotnet/src/AidDiscovery.csproj
  packages/aid-dotnet/src/Class1.cs
  packages/aid-dotnet/src/Errors.cs
  packages/aid-dotnet/src/Parser.cs
  packages/aid-dotnet/src/Record.cs
  packages/aid-dotnet/src/obj/AidDiscovery.csproj.nuget.dgspec.json
  packages/aid-dotnet/src/obj/AidDiscovery.csproj.nuget.g.props
  packages/aid-dotnet/src/obj/AidDiscovery.csproj.nuget.g.targets
  packages/aid-dotnet/src/obj/project.assets.json
  packages/aid-dotnet/src/obj/project.nuget.cache
  packages/aid-dotnet/tests/AidDiscovery.Tests.csproj
  packages/aid-dotnet/tests/ParityTests.cs
  packages/aid-dotnet/tests/UnitTest1.cs
  packages/aid-dotnet/tests/obj/AidDiscovery.Tests.csproj.nuget.dgspec.json
  packages/aid-dotnet/tests/obj/AidDiscovery.Tests.csproj.nuget.g.props
  packages/aid-dotnet/tests/obj/AidDiscovery.Tests.csproj.nuget.g.targets
  packages/aid-dotnet/tests/obj/project.assets.json
  packages/aid-dotnet/tests/obj/project.nuget.cache
Due: prettier --write

Feat/aid dotnet (#56)
  packages/aid-dotnet/.gitignore
  packages/aid-dotnet/AidDiscovery.sln
  packages/aid-dotnet/README.md
  packages/aid-dotnet/src/AidDiscovery.csproj
  packages/aid-dotnet/src/Constants.g.cs
  packages/aid-dotnet/src/Errors.cs
  packages/aid-dotnet/src/Parser.cs
  packages/aid-dotnet/src/Record.cs
  packages/aid-dotnet/tests/AidDiscovery.Tests.csproj
  packages/aid-dotnet/tests/ErrorTests.cs
  packages/aid-dotnet/tests/ParityTests.cs
  tracking/AGENT_REPORTS/feat_aid_dotnet_REPORT.md
Due: prettier --write

feat(aid-java): add Java library with parser, generated constants, tests, and Gradle wrapper
  .gradle/8.10.2/checksums/checksums.lock
  .gradle/8.10.2/checksums/md5-checksums.bin
  .gradle/8.10.2/checksums/sha1-checksums.bin
  .gradle/8.10.2/dependencies-accessors/gc.properties
  .gradle/8.10.2/executionHistory/executionHistory.bin
  .gradle/8.10.2/executionHistory/executionHistory.lock
  .gradle/8.10.2/fileChanges/last-build.bin
  .gradle/8.10.2/fileHashes/fileHashes.bin
  .gradle/8.10.2/fileHashes/fileHashes.lock
  .gradle/8.10.2/fileHashes/resourceHashesCache.bin
  .gradle/8.10.2/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/vcs-1/gc.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  packages/aid-java/README.md
  packages/aid-java/build.gradle
  packages/aid-java/settings.gradle
  packages/aid-java/src/main/java/org/agentcommunity/aid/AidError.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/AidRecord.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Constants.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Parser.java
  packages/aid-java/src/test/java/org/agentcommunity/aid/ParityTest.java
  scripts/generate-constants.ts
  settings.gradle
  tracking/AGENT_REPORTS/feat_aid_java_REPORT.md
Due: eslint --cache --fix, prettier --write

chore: refresh generated constants after rebase
  .gradle/8.10.2/executionHistory/executionHistory.lock
  .gradle/8.10.2/fileHashes/fileHashes.bin
  .gradle/8.10.2/fileHashes/fileHashes.lock
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  packages/aid-rs/src/constants_gen.rs
Due: none

chore(gen): normalize Rust LOCAL_URI_SCHEMES formatting to single-line array
  packages/aid-rs/src/constants_gen.rs
  scripts/generate-constants.ts
Due: eslint --cache --fix, prettier --write

Feat/aid java (#57)
  .gradle/8.10.2/checksums/checksums.lock
  .gradle/8.10.2/checksums/md5-checksums.bin
  .gradle/8.10.2/checksums/sha1-checksums.bin
  .gradle/8.10.2/dependencies-accessors/gc.properties
  .gradle/8.10.2/executionHistory/executionHistory.bin
  .gradle/8.10.2/executionHistory/executionHistory.lock
  .gradle/8.10.2/fileChanges/last-build.bin
  .gradle/8.10.2/fileHashes/fileHashes.bin
  .gradle/8.10.2/fileHashes/fileHashes.lock
  .gradle/8.10.2/fileHashes/resourceHashesCache.bin
  .gradle/8.10.2/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/vcs-1/gc.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  packages/aid-java/README.md
  packages/aid-java/build.gradle
  packages/aid-java/settings.gradle
  packages/aid-java/src/main/java/org/agentcommunity/aid/AidError.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/AidRecord.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Constants.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Parser.java
  packages/aid-java/src/test/java/org/agentcommunity/aid/ParityTest.java
  scripts/generate-constants.ts
  settings.gradle
  tracking/AGENT_REPORTS/feat_aid_java_REPORT.md
Due: eslint --cache --fix, prettier --write

feat(aid-java): add Java library with parser, generated constants, tests, and Gradle wrapper
  .gitignore
  .gradle/8.10.2/executionHistory/executionHistory.lock
  .gradle/8.10.2/fileHashes/fileHashes.bin
  .gradle/8.10.2/fileHashes/fileHashes.lock
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
Due: none

chore: refresh generated constants after rebase
  packages/aid-rs/src/constants_gen.rs
Due: none

chore(gen): normalize Rust LOCAL_URI_SCHEMES formatting to single-line array
  packages/aid-rs/src/constants_gen.rs
Due: none

chore(dotnet): use generated LocalUriSchemes; gen constants for .NET
  packages/aid-dotnet/src/Constants.g.cs
  packages/aid-dotnet/src/Parser.cs
  scripts/generate-constants.ts
Due: eslint --cache --fix, prettier --write

fix(dotnet): avoid C# 12 collection spread; use HashSet constructor with generated LocalUriSchemes
  packages/aid-dotnet/src/Parser.cs
Due: none

Checkpoint before follow-up message
  tracking/AGENT_REPORTS/feat_aid_rust_dotnet_java_REPORT.md
Due: prettier --write

chore(gradle): stop tracking .gradle cache; ignore .gradle and build outputs
  .gradle/8.10.2/checksums/checksums.lock
  .gradle/8.10.2/checksums/md5-checksums.bin
  .gradle/8.10.2/checksums/sha1-checksums.bin
  .gradle/8.10.2/dependencies-accessors/gc.properties
  .gradle/8.10.2/executionHistory/executionHistory.bin
  .gradle/8.10.2/fileChanges/last-build.bin
  .gradle/8.10.2/fileHashes/resourceHashesCache.bin
  .gradle/8.10.2/gc.properties
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/vcs-1/gc.properties
Due: none

Feat/aid java followup (#58)
  .gitignore
  .gradle/8.10.2/checksums/checksums.lock
  .gradle/8.10.2/checksums/md5-checksums.bin
  .gradle/8.10.2/checksums/sha1-checksums.bin
  .gradle/8.10.2/dependencies-accessors/gc.properties
  .gradle/8.10.2/executionHistory/executionHistory.bin
  .gradle/8.10.2/executionHistory/executionHistory.lock
  .gradle/8.10.2/fileChanges/last-build.bin
  .gradle/8.10.2/fileHashes/fileHashes.bin
  .gradle/8.10.2/fileHashes/fileHashes.lock
  .gradle/8.10.2/fileHashes/resourceHashesCache.bin
  .gradle/8.10.2/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/vcs-1/gc.properties
  packages/aid-dotnet/src/Constants.g.cs
  packages/aid-dotnet/src/Parser.cs
  scripts/generate-constants.ts
  tracking/AGENT_REPORTS/feat_aid_rust_dotnet_java_REPORT.md
Due: eslint --cache --fix, prettier --write

ci: add Rust/.NET/Java jobs; preserve gen-check and parity job
  .github/workflows/ci.yml
Due: prettier --write

docs: list Rust/.NET/Java as WIP; document CI jobs and generator scope; add CI report
  .github/ARCHITECTURE.md
  README.md
  tracking/AGENT_REPORTS/ci_lang_builds_REPORT.md
Due: prettier --write

Update CI language builds report with timestamp and PR link
  tracking/AGENT_REPORTS/ci_lang_builds_REPORT.md
Due: prettier --write

ci: fix .NET setup-cache by switching to actions/cache with NuGet path
  .github/workflows/ci.yml
Due: prettier --write

ci: .NET job restore/build/test solution explicitly and add dotnet --info + TRX logger
  .github/workflows/ci.yml
Due: prettier --write

docs: add Rust/.NET/Java (WIP) to SDK/package overview; cross-link quickstarts
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_a2a.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/quickstart/quickstart_openapi.md
Due: prettier --write

Ci/lang builds (#60)
  .github/ARCHITECTURE.md
  .github/workflows/ci.yml
  README.md
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_a2a.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/quickstart/quickstart_openapi.md
  tracking/AGENT_REPORTS/ci_lang_builds_REPORT.md
Due: prettier --write

feat(web): add Rust/Java/.NET Toolkit cards (WIP) linking to repo paths
  packages/web/src/components/landing/showcase.tsx
  tracking/AGENT_REPORTS/docs_web_toolkit_ports_REPORT.md
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
