Repository agentcommunity/agent-interface-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat(web): add Rust/Java/.NET Toolkit cards (WIP) linking to repo paths (#59)
  packages/web/src/components/landing/showcase.tsx
  tracking/AGENT_REPORTS/docs_web_toolkit_ports_REPORT.md
Due: eslint --cache --fix, prettier --write

chore: scope lint-staged to repo paths to avoid pre-commit noise
  .lintstagedrc.json
  tracking/AGENT_REPORTS/chore_husky_lint_scope_REPORT.md
  tracking/AGENT_REPORTS/lint_staged_dry_run_output.txt
Due: prettier --write

chore: scope lint-staged to repo paths to avoid pre-commit noise (#61)
  .lintstagedrc.json
  tracking/AGENT_REPORTS/chore_husky_lint_scope_REPORT.md
  tracking/AGENT_REPORTS/lint_staged_dry_run_output.txt
Due: prettier --write

chore(tracking): reorder priorities, add Recently completed; extract spec extension process to tracking/SPEC_EXTENSION_PROCESS.md
  tracking/POST_RELEASE_TODO.md
  tracking/SPEC_EXTENSION_PROCESS.md
Due: prettier --write

Chore/update post release tracker (#62)
  tracking/POST_RELEASE_TODO.md
  tracking/SPEC_EXTENSION_PROCESS.md
Due: prettier --write

docs: reorganize documentation structure with Reference and platform-specific quickstarts
  packages/docs/Reference/conformance.md
  packages/docs/Reference/protocols.md
  packages/docs/Reference/troubleshooting.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_a2a.md
  packages/docs/quickstart/quickstart_browser.md
  packages/docs/quickstart/quickstart_dotnet.md
  packages/docs/quickstart/quickstart_go.md
  packages/docs/quickstart/quickstart_java.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/quickstart/quickstart_openapi.md
  packages/docs/quickstart/quickstart_python.md
  packages/docs/quickstart/quickstart_ts.md
Due: prettier --write

docs: reorganize documentation structure with Reference and platform-specific quickstarts (#63)
  packages/docs/Reference/conformance.md
  packages/docs/Reference/protocols.md
  packages/docs/Reference/troubleshooting.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_a2a.md
  packages/docs/quickstart/quickstart_browser.md
  packages/docs/quickstart/quickstart_dotnet.md
  packages/docs/quickstart/quickstart_go.md
  packages/docs/quickstart/quickstart_java.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/quickstart/quickstart_openapi.md
  packages/docs/quickstart/quickstart_python.md
  packages/docs/quickstart/quickstart_ts.md
Due: prettier --write

feat(web,workbench): add spec adapters and generated web spec; complete auth retry; update docs (Spec Upgrade Guide + Architecture)
  .github/ARCHITECTURE.md
  AGENTS.md
  WORKBENCH_COMPONENTS.md
  agent.md
  packages/aid/src/constants.ts
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/rationale.md
  packages/docs/security.md
  packages/docs/specification.md
  packages/docs/versioning.md
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/generated/spec.ts
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/spec-adapters/index.ts
  packages/web/src/spec-adapters/types.ts
  packages/web/src/spec-adapters/v1.ts
  scripts/generate-constants.ts
  tracking/CHANGES_2025-08-28_spec-adapters-web-spec.md
Due: eslint --cache --fix, prettier --write

fix(aid): restore DNS + local scheme exports in generated constants for core; add RawAidRecord; regen outputs
  packages/aid/src/constants.ts
  scripts/generate-constants.ts
Due: eslint --cache --fix, prettier --write

fix(web): address TS error by casting via unknown before Object.entries in spec adapter; maintain strict types for generated AidRecordV1/HandshakeV1
  packages/web/src/spec-adapters/v1.ts
Due: eslint --cache --fix, prettier --write

feat(web,workbench): add spec adapters and generated web spec; comple… (#64)
  .github/ARCHITECTURE.md
  AGENTS.md
  WORKBENCH_COMPONENTS.md
  agent.md
  packages/aid/src/constants.ts
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/rationale.md
  packages/docs/security.md
  packages/docs/specification.md
  packages/docs/versioning.md
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/generated/spec.ts
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/spec-adapters/index.ts
  packages/web/src/spec-adapters/types.ts
  packages/web/src/spec-adapters/v1.ts
  scripts/generate-constants.ts
  tracking/CHANGES_2025-08-28_spec-adapters-web-spec.md
Due: eslint --cache --fix, prettier --write

feat: update AID v1.1 protocol constants and spec
  packages/aid/src/constants.ts
  protocol/constants.yml
  protocol/spec.ts
  scripts/generate-constants.ts
  tracking/SPEC_1.1_extension.md.md
  tracking/SPEC_EXTENSION_PROCESS.md
Due: eslint --cache --fix, prettier --write

feat: add PKA test vectors for RFC 9421 Ed25519 verification
  protocol/pka_vectors.json
Due: prettier --write

feat: implement PKA handshake in TypeScript SDK
  packages/aid/src/client.pka.integration.test.ts
  packages/aid/src/client.pka.test.ts
  packages/aid/src/client.ts
  packages/aid/src/pka.ts
  packages/aid/src/pka.vectors.test.ts
  packages/aid/vitest.config.ts
Due: eslint --cache --fix, prettier --write

feat: implement PKA handshake in Go SDK
  packages/aid-go/fallback.go
  packages/aid-go/pka.go
  packages/aid-go/pka_vectors_test.go
Due: none

feat: implement PKA handshake in Python SDK
  packages/aid-py/aid_py/pka.py
  packages/aid-py/tests/test_pka.py
  packages/aid-py/tests/test_pka_vectors.py
  packages/aid-py/tests/test_wellknown.py
Due: none

feat: add PKA handshake to Rust SDK
  packages/aid-rs/src/pka.rs
  packages/aid-rs/tests/pka_test.rs
Due: none

feat: update parsers for AID v1.1 fields and aliases
  packages/aid-dotnet/src/Parser.cs
  packages/aid-dotnet/src/Record.cs
  packages/aid-go/parser.go
  packages/aid-go/record.go
  packages/aid-java/src/main/java/org/agentcommunity/aid/AidRecord.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Parser.java
  packages/aid-py/aid_py/parser.py
  packages/aid-rs/src/parser.rs
  packages/aid-rs/src/record.rs
  packages/aid/src/parser.ts
Due: eslint --cache --fix, prettier --write

docs: update AID v1.1 specification and documentation
  packages/docs/Reference/troubleshooting.md
  packages/docs/rationale.md
  packages/docs/specification.md
Due: prettier --write

feat: complete AID v1.1 implementation across all packages
  AGENTS.md
  packages/aid-doctor/AGENTS.md
  packages/aid-doctor/src/cli.ts
  packages/aid-dotnet/AGENTS.md
  packages/aid-dotnet/src/Constants.g.cs
  packages/aid-go/AGENTS.md
  packages/aid-go/README.md
  packages/aid-go/constants_gen.go
  packages/aid-go/discover.go
  packages/aid-java/AGENTS.md
  packages/aid-java/src/main/java/org/agentcommunity/aid/Constants.java
  packages/aid-py/AGENTS.md
  packages/aid-py/README.md
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/aid-py/aid_discovery.egg-info/SOURCES.txt
  packages/aid-py/aid_discovery.egg-info/requires.txt
  packages/aid-py/aid_py/constants.py
  packages/aid-py/aid_py/discover.py
  packages/aid-py/pyproject.toml
  packages/aid-rs/AGENTS.md
  packages/aid-rs/Cargo.toml
  packages/aid-rs/README.md
  packages/aid-rs/src/constants_gen.rs
  packages/aid-rs/src/errors.rs
  packages/aid-rs/src/lib.rs
  packages/aid/AGENTS.md
  packages/aid/src/client.fallback.test.ts
  packages/aid/src/parser.v11.test.ts
  packages/docs/AGENTS.md
  packages/e2e-tests/package.json
  packages/e2e-tests/src/pka_e2e.ts
  packages/web/AGENTS.md
  packages/web/WORKBENCH_COMPONENTS.md
  packages/web/src/components/landing/hero.tsx
Due: eslint --cache --fix, prettier --write

feat(v1.1): PKA + .well-known parity across SDKs; docs, tests, CI
  .github/workflows/ci.yml
  package.json
  packages/aid-conformance/README.md
  packages/aid-conformance/src/index.ts
  packages/aid-conformance/src/runner.ts
  packages/aid-doctor/README.md
  packages/aid-doctor/src/cli.ts
  packages/aid-dotnet/README.md
  packages/aid-dotnet/src/Base58.cs
  packages/aid-dotnet/src/Handshake.cs
  packages/aid-dotnet/src/WellKnown.cs
  packages/aid-dotnet/tests/AidDiscovery.Tests.csproj
  packages/aid-dotnet/tests/PkaTests.cs
  packages/aid-java/README.md
  packages/aid-java/build.gradle
  packages/aid-java/src/main/java/org/agentcommunity/aid/Base58.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Handshake.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/WellKnown.java
  packages/aid-java/src/test/java/org/agentcommunity/aid/HandshakeTest.java
  packages/aid-py/tests/test_pka.py
  packages/aid-py/tests/test_pka_vectors.py
  packages/aid-rs/README.md
  packages/aid/README.md
  test-fixtures/golden.json
  tracking/SPEC_1.1_extension.md.md
Due: eslint --cache --fix, prettier --write

ci: enhance CI pipeline with security scanning and caching
  .github/codeql-config.yml
  .github/workflows/ci.yml
Due: prettier --write

feat(.NET): implement high-level discovery API
  packages/aid-dotnet/README.md
  packages/aid-dotnet/dotnet-8-runtime.pkg
  packages/aid-dotnet/src/AidDiscovery.csproj
  packages/aid-dotnet/src/Discovery.cs
  packages/aid-dotnet/src/Errors.cs
  packages/aid-dotnet/src/Handshake.cs
  packages/aid-dotnet/src/Parser.cs
  packages/aid-dotnet/src/WellKnown.cs
  packages/aid-dotnet/tests/AidDiscovery.Tests.csproj
  packages/aid-dotnet/tests/ParityTests.cs
  packages/aid-dotnet/tests/PkaTests.cs
  packages/aid-dotnet/tests/TestResults/test_results.trx
Due: prettier --write

feat(Go): implement DiscoveryOptions and enhanced discovery API
  packages/aid-go/README.md
  packages/aid-go/discover.go
  packages/aid-go/error.go
  packages/aid-go/fallback.go
  packages/aid-go/parity_test.go
  packages/aid-go/parser.go
  packages/aid-go/pka.go
Due: prettier --write

feat(Rust): implement DiscoveryOptions and enhanced discovery API
  packages/aid-rs/Cargo.lock
  packages/aid-rs/Cargo.toml
  packages/aid-rs/README.md
  packages/aid-rs/src/discover.rs
  packages/aid-rs/src/lib.rs
  packages/aid-rs/src/parser.rs
  packages/aid-rs/src/pka.rs
  packages/aid-rs/src/well_known.rs
  packages/aid-rs/tests/parity.rs
  packages/aid-rs/tests/pka_test.rs
Due: prettier --write

feat(Java): implement Discovery API with full options support
  packages/aid-java/README.md
  packages/aid-java/src/main/java/org/agentcommunity/aid/AidError.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Discovery.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Parser.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/WellKnown.java
  packages/aid-java/src/test/java/org/agentcommunity/aid/HandshakeTest.java
Due: prettier --write

feat(Python): enhance discovery API with backward-compatible improvements
  packages/aid-py/README.md
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/aid-py/aid_discovery.egg-info/SOURCES.txt
  packages/aid-py/aid_py/_debug/base_runtime.txt
  packages/aid-py/aid_py/_debug/base_test.txt
  packages/aid-py/aid_py/discover.py
  packages/aid-py/aid_py/pka.py
  packages/aid-py/pyproject.toml
  packages/aid-py/tests/test_pka.py
  packages/aid-py/tests/test_pka_vectors.py
  packages/aid-py/tests/test_wellknown.py
Due: prettier --write

feat(TypeScript): enhance client with improved well-known fallback
  packages/aid/README.md
  packages/aid/src/client.ts
Due: eslint --cache --fix, prettier --write

docs: update READMEs and documentation for SDK discovery API parity
  .github/ARCHITECTURE.md
  README.md
  packages/aid-doctor/README.md
  packages/docs/Reference/discovery_api.md
  packages/docs/Reference/troubleshooting.md
  packages/docs/Reference/well_known_json.md
  packages/docs/blog/finding_door_a2a.md
  packages/docs/blog/missing_grep_mcp.md
  packages/docs/blog/missing_record.md
  packages/docs/blog/what_when_domain.md
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_browser.md
  packages/docs/quickstart/quickstart_dotnet.md
  packages/docs/quickstart/quickstart_go.md
  packages/docs/quickstart/quickstart_java.md
  packages/docs/quickstart/quickstart_python.md
  packages/docs/quickstart/quickstart_rust.md
  packages/docs/quickstart/quickstart_ts.md
Due: prettier --write

spec: finalize v1.1 discovery API parity and tracking updates
  .changeset/v11-parity.md
  packages/aid-doctor/src/cli.ts
  packages/e2e-tests/src/pka_e2e.ts
  tracking/PRD_AID_SDK_Discovery_API_Parity_v1.1.md
  tracking/SPEC_1.1_extension.md.md
Due: eslint --cache --fix, prettier --write

fix(ci): add .NET 9.0 setup to security job for CodeQL autobuild
  .github/workflows/ci.yml
Due: prettier --write

feat(java): Make Java SDK 100% spec-compliant
  .github/workflows/ci.yml
  gradle/wrapper/gradle-wrapper.properties
  packages/aid-java/build.gradle
  packages/aid-java/settings.gradle
  packages/aid-java/src/main/java/org/agentcommunity/aid/Discovery.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/Parser.java
  packages/aid-java/src/main/java/org/agentcommunity/aid/WellKnown.java
  packages/aid-java/src/test/java/org/agentcommunity/aid/HandshakeTest.java
  packages/aid-py/aid_discovery.egg-info/PKG-INFO
  packages/docs/quickstart/quickstart_java.md
Due: prettier --write

feat(aid): align TS client with v1.1 spec
  .changeset/feat-aid-v1.1-compliance.md
  packages/aid/src/browser.ts
  packages/aid/src/client.browser.test.ts
  packages/aid/src/client.dep.test.ts
  packages/aid/src/client.protocol.test.ts
  packages/aid/src/client.ts
  packages/aid/src/index.ts
  packages/aid/src/parser.ts
Due: eslint --cache --fix, prettier --write

feat(aid-py): align discovery logic with spec and user feedback
  packages/aid-py/aid_py/discover.py
  packages/aid-py/tests/test_discover.py
Due: none

fix(python): protocol filtering bug in discovery fallback
  packages/aid-py/aid_py/discover.py
  packages/docs/AGENTS.md
  packages/docs/index.md
  packages/docs/quickstart/quickstart_a2a.md
  packages/docs/quickstart/quickstart_browser.md
  packages/docs/quickstart/quickstart_dotnet.md
  packages/docs/quickstart/quickstart_go.md
  packages/docs/quickstart/quickstart_java.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/quickstart/quickstart_openapi.md
  packages/docs/quickstart/quickstart_python.md
  packages/docs/quickstart/quickstart_rust.md
  packages/docs/quickstart/quickstart_ts.md
Due: prettier --write

fix(ci): add java setup for codeql analysis
  .github/workflows/ci.yml
Due: prettier --write

fix(java): use US locale for http date parsing
  packages/aid-java/src/main/java/org/agentcommunity/aid/Handshake.java
Due: none

fix(java): use pre-generated keys in handshake test
  packages/aid-java/src/test/java/org/agentcommunity/aid/HandshakeTest.java
Due: none

fix(java): harden handshake test suite for CI
  packages/aid-java/build.gradle
  packages/aid-java/src/test/java/org/agentcommunity/aid/HandshakeTest.java
Due: none

chore(java): further harden gradle test environment
  packages/aid-java/build.gradle
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
