Repository agentcommunity/agent-interface-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

build fix
  packages/aid/package.json
Due: prettier --write

Update package.json
  packages/web-generator/package.json
Due: prettier --write

Feat/web fixes (#12)
  packages/aid/package.json
  packages/web-generator/package.json
  packages/web-generator/src/cli.ts
  packages/web/src/app/layout.tsx
  packages/web/src/app/page.tsx
  packages/web/src/components/layout/header.tsx
  packages/web/src/components/workbench/generator-panel.tsx
  pnpm-lock.yaml
  tracking/feat:web-fixes.md
Due: eslint --cache --fix, prettier --write

small tweaks
  WORKBENCH_COMPONENTS.md
  packages/aid-doctor/package.json
  tracking/PHASE_3.md
Due: prettier --write

feat: Add ESLint configuration, new SVG icons, and enhance workbench components
  .gitignore
  packages/web/.eslintrc.json
  packages/web/package.json
  packages/web/public/icons/auth0.svg
  packages/web/public/icons/playwright.svg
  packages/web/public/icons/supabase.svg
  packages/web/src/app/layout.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/workbench/page.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/layout/header.tsx
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/discovery-success-block.tsx
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/components/workbench/generator-panel.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/lib/constants.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

refactor: Remove deprecated API discover route and update useDiscovery hook for browser compatibility
  packages/web/src/app/api/discover/route.ts
  packages/web/src/hooks/use-discovery.ts
Due: eslint --cache --fix, prettier --write

docs: add PRERELEASE.md and update Phase_4.md tracking
  tracking/PRERELEASE.md
  tracking/Phase_4.md
Due: prettier --write

fix: resolve lockfile and aid-doctor prepare script issues
  packages/aid-doctor/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: regenerate pnpm lockfile to resolve missing get-stream dependency
  pnpm-lock.yaml
Due: prettier --write

fix: remove unused PROTOCOL_TOKENS import in generator-panel
  packages/web/src/components/workbench/generator-panel.tsx
Due: eslint --cache --fix, prettier --write

feat: bulletproof monorepo upgrade
  .node-version
  .nvmrc
  ARCHITECTURE.md
  README.md
  package.json
  packages/aid-doctor/package.json
  packages/aid-doctor/tsup.config.ts
  packages/aid-go/package.json
  packages/aid-py/package.json
  packages/aid/package.json
  packages/e2e-tests/package.json
  packages/web-generator/package.json
  packages/web-generator/tsup.config.ts
  packages/web/package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsup.config.base.ts
  turbo.json
Due: eslint --cache --fix, prettier --write

ci: enable turbo remote cache
  .github/workflows/ci.yml
Due: prettier --write

feat: bulletproof monorepo upgrade (#14)
  .github/workflows/ci.yml
  .node-version
  .nvmrc
  ARCHITECTURE.md
  README.md
  package.json
  packages/aid-doctor/package.json
  packages/aid-doctor/tsup.config.ts
  packages/aid-go/package.json
  packages/aid-py/package.json
  packages/aid/package.json
  packages/e2e-tests/package.json
  packages/web-generator/package.json
  packages/web-generator/tsup.config.ts
  packages/web/package.json
  pnpm-lock.yaml
  tsconfig.base.json
  tsup.config.base.ts
  turbo.json
Due: eslint --cache --fix, prettier --write

chore(.gitignore): Add python cache and untrack existing files
  .gitignore
  packages/aid-py/aid_py/__pycache__/__init__.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/constants.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/discover.cpython-313.pyc
  packages/aid-py/aid_py/__pycache__/parser.cpython-313.pyc
  packages/aid-py/tests/__pycache__/test_discover.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/__pycache__/test_parity.cpython-313-pytest-8.4.1.pyc
  packages/aid-py/tests/__pycache__/test_parser.cpython-313-pytest-8.4.1.pyc
Due: none

chore(license): ensure MIT license, author, and repository fields in all packages and Python modules for OSS compliance
  package.json
  packages/aid-go/package.json
  packages/aid-py/aid_py/__init__.py
  packages/aid-py/aid_py/constants.py
  packages/aid-py/aid_py/discover.py
  packages/aid-py/aid_py/parser.py
  packages/aid-py/package.json
  packages/aid-py/tests/test_discover.py
  packages/aid-py/tests/test_parity.py
  packages/aid-py/tests/test_parser.py
  packages/e2e-tests/package.json
  packages/web/package.json
Due: prettier --write

chore/adding empty changeset and upding contribution guide
  .changeset/true-shoes-drop.md
  .github/ARCHITECTURE.md
  .github/CONTRIBUTING-spec.md
  CONTRIBUTING.md
  tracking/PRERELEASE_smoketest.md
  tracking/RELEASE.md
  tracking/feat:web-fixes.md
Due: prettier --write

docu update
  packages/docs/index.md
  packages/docs/rationale.md
  packages/docs/specification.md
  packages/docs/versioning.md
Due: prettier --write

ducs update
  packages/docs/index.md
Due: prettier --write

arch and readme update to remove aid-webgenerator and move its function into aid-doctor
  .github/ARCHITECTURE.md
  README.md
Due: prettier --write

refactor: merge generator into aid-doctor, update docs, and fix imports
  packages/aid-doctor/package.json
  packages/aid-doctor/src/cli.ts
  packages/aid-doctor/src/generator.ts
  packages/web/src/components/workbench/generator-panel.tsx
  packages/web/src/lib/aid-generator.ts
Due: eslint --cache --fix, prettier --write

fix(web/mobile): eliminate mobile scroll/overflow bugs, improve chat UX
  packages/web-generator/package.json
  packages/web-generator/src/cli.ts
  packages/web-generator/src/index.ts
  packages/web-generator/tsconfig.json
  packages/web-generator/tsup.config.ts
  packages/web/src/app/api/version/route.ts
  packages/web/src/app/layout.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/layout/header.tsx
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/example-picker.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/components/workbench/tool-call-block.tsx
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/lib/utils.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

files up to date
  packages/aid-py/aid_py/constants.py
Due: none

chore: create v1.0.0 changeset
  .changeset/silent-icons-share.md
Due: prettier --write

chore(release): v1.0.0 version bump
  .changeset/silent-icons-share.md
  .changeset/true-shoes-drop.md
  packages/aid-doctor/CHANGELOG.md
  packages/aid-doctor/package.json
  packages/aid/CHANGELOG.md
  packages/aid/package.json
  packages/web/CHANGELOG.md
  packages/web/package.json
  tracking/RELEASE.md
Due: prettier --write

ci: add publish workflow
  .github/workflows/release.yml
Due: prettier --write

header footer linking
  packages/docs/index.md
  packages/docs/quickstart.md
  packages/web/src/components/layout/footer.tsx
  packages/web/src/components/layout/header.tsx
Due: eslint --cache --fix, prettier --write

readmes
  packages/aid-go/README.md
  packages/aid-py/README.md
  packages/docs/quickstart.md
  packages/web/src/components/layout/footer.tsx
Due: eslint --cache --fix, prettier --write

readme2
  packages/docs/quickstart.md
Due: prettier --write

header fix
  packages/web/src/components/layout/header.tsx
Due: eslint --cache --fix, prettier --write

fixing docs and blog
  packages/docs/blog/finding_door_a2a.md
  packages/docs/blog/missing_grep_mcp.md
  packages/docs/blog/missing_record.md
  packages/docs/blog/what_when_domain.md
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/quickstart/quickstart_a2a.md
  packages/docs/quickstart/quickstart_mcp.md
  packages/docs/quickstart/quickstart_openapi.md
  packages/docs/rationale.md
  packages/docs/specification.md
Due: prettier --write

fix: correct prepack script filter syntax for turbo
  .github/ARCHITECTURE.md
  packages/aid-doctor/package.json
  packages/aid/package.json
Due: prettier --write

veresion control
  packages/web/src/components/landing/hero.tsx
Due: eslint --cache --fix, prettier --write

mini fixes
  packages/web/package.json
  packages/web/src/lib/aid-generator.ts
Due: eslint --cache --fix, prettier --write

feat: add new logos and context menu component; update package.json and styles
  packages/web/package.json
  packages/web/public/logo/a.png
  packages/web/public/logo/a.svg
  packages/web/public/logo/agent.png
  packages/web/public/logo/agent.svg
  packages/web/public/logo/agent_interface_discvovery.png
  packages/web/public/logo/agent_interface_discvovery.svg
  packages/web/public/og-card.png
  packages/web/src/app/globals.css
  packages/web/src/app/layout.tsx
  packages/web/src/components/landing/features.tsx
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/quick-start.tsx
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/components/landing/solution.tsx
  packages/web/src/components/landing/vision.tsx
  packages/web/src/components/layout/header.tsx
  packages/web/src/components/layout/logo.tsx
  packages/web/src/components/ui/codeblock.tsx
  packages/web/src/components/ui/context-menu.tsx
Due: eslint --cache --fix, prettier --write

feat: enhance discovery chat and tool blocks; add favicon and constants
  packages/web/public/favicon.png
  packages/web/src/app/favicon.ico
  packages/web/src/components/workbench/discovery-chat.tsx
  packages/web/src/components/workbench/tool-blocks.tsx
  packages/web/src/hooks/use-chat-engine.ts
  packages/web/src/lib/constants.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

mermaid updates
  README.md
  packages/docs/rationale.md
Due: prettier --write

OG card update
  packages/web/src/app/layout.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
