Repository agentcommunity/agent-interface-discovery: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.{js,jsx,ts,tsx,json,md,yml,yaml}": "prettier --write"
}

og update
  packages/web/src/app/layout.tsx
Due: eslint --cache --fix, prettier --write

og updates 2
  packages/web/src/app/layout.tsx
Due: eslint --cache --fix, prettier --write

x OG image fix
  packages/web/src/app/layout.tsx
Due: eslint --cache --fix, prettier --write

sign up community link to header
  packages/web/public/aid_explainer.png
  packages/web/src/components/layout/header.tsx
Due: eslint --cache --fix, prettier --write

community sign up to footer
  packages/web/src/components/layout/footer.tsx
Due: eslint --cache --fix, prettier --write

feat: add PyPI publishing with OIDC and bump Python package to v1.0.0
  .github/workflows/release.yml
  packages/aid-py/pyproject.toml
Due: prettier --write

release documentation update
  tracking/RELEASE.md
Due: prettier --write

Release/v1.0.0 python (#27)
  .github/workflows/release.yml
  packages/aid-py/pyproject.toml
  tracking/RELEASE.md
Due: prettier --write

fix: add pyproject.toml to release workflow trigger paths
  .github/workflows/release.yml
Due: prettier --write

chore(release): trigger PyPI publish for aid-discovery v1.0.0 (#33)
  .github/workflows/release.yml
Due: prettier --write

temp: downgrade to 0.1.0 for proper v1.0.0 release
  packages/aid-py/pyproject.toml
Due: none

chore(release): bump Python package to v1.0.0
  packages/aid-py/pyproject.toml
Due: none

docs: add workflow trigger requirements and troubleshooting
  tracking/RELEASE.md
Due: prettier --write

Release python v1.0.0 (#34)
  tracking/RELEASE.md
Due: prettier --write

chore(release): fix workflow environment and trigger aid-discovery v1.0.0 release
  .github/workflows/release.yml
  packages/aid-py/pyproject.toml
Due: prettier --write

Trigger pypi v1.0.0 final (#40)
  .github/workflows/release.yml
  packages/aid-py/pyproject.toml
Due: prettier --write

docs: update Python package references to PyPI and clarify community status
  .github/ARCHITECTURE.md
  .github/workflows/release.yml
  README.md
  packages/aid-py/pyproject.toml
  packages/docs/quickstart/index.md
Due: prettier --write

Fix/python pypi link docs (#41)
  .github/ARCHITECTURE.md
  README.md
  packages/docs/quickstart/index.md
Due: prettier --write

updaing the hero and small texts
  packages/web/src/components/landing/hero.tsx
  packages/web/src/components/landing/solution.tsx
Due: eslint --cache --fix, prettier --write

X account update
  packages/web/src/app/layout.tsx
Due: eslint --cache --fix, prettier --write

README for @agentcommunity/aid and @agentcommunity/aid-doctor
  packages/aid-doctor/README.md
  packages/aid/README.md
Due: prettier --write

fix: CI Go 1.23, public Changesets + ignore list, README architecture link, CLI prints real version, docs reflect client-side discovery
  .changeset/config.json
  .github/workflows/ci.yml
  README.md
  packages/aid-doctor/src/cli.ts
  tracking/PHASE_3.md
  tracking/Phase_4.md
  tracking/RELEASE.md
Due: eslint --cache --fix, prettier --write

fix: CI Go 1.23, public Changesets + ignore list, README architecture link, CLI prints real version, docs reflect client-side discovery (#43)
  .changeset/config.json
  .github/workflows/ci.yml
  README.md
  packages/aid-doctor/src/cli.ts
  tracking/PHASE_3.md
  tracking/Phase_4.md
  tracking/RELEASE.md
Due: eslint --cache --fix, prettier --write

docs(readme): clarify canonical _agent.<domain> and optional protocol-specific subdomains (_agent._<proto>.<domain>)
  README.md
Due: prettier --write

docs(aid,aid-doctor): add package-level READMEs for npmjs with install, quickstart, usage, and exit codes
  packages/aid-doctor/README.md
  packages/aid/README.md
Due: prettier --write

chore(showcase): parameterize TTL, add optional underscore protocol-specific examples, and add README with usage/safety notes
  showcase/terraform/README.md
  showcase/terraform/main.tf
  tracking/AGENT_REPORTS/chore_terraform_showcase_REPORT.md
Due: prettier --write

Add aid-conformance package and update pnpm-lock.yaml
  .changeset/aid-conformance.md
  packages/aid-conformance/README.md
  packages/aid-conformance/package.json
  packages/aid-conformance/src/index.test.ts
  packages/aid-conformance/src/index.ts
  packages/aid-conformance/src/runner.ts
  packages/aid-conformance/tsconfig.json
  packages/aid-conformance/tsup.config.ts
  pnpm-lock.yaml
  tracking/AGENT_REPORTS/feat_aid_conformance_REPORT.md
Due: eslint --cache --fix, prettier --write

Fix/discovery order (#44)
  README.md
  packages/aid-doctor/README.md
  packages/aid/README.md
  packages/aid/src/browser.ts
  packages/aid/src/client.ts
  tracking/POST_RELEASE_TODO.md
Due: eslint --cache --fix, prettier --write

Feat/aid conformance (#45)
  .changeset/aid-conformance.md
  packages/aid-conformance/README.md
  packages/aid-conformance/package.json
  packages/aid-conformance/src/index.test.ts
  packages/aid-conformance/src/index.ts
  packages/aid-conformance/src/runner.ts
  packages/aid-conformance/tsconfig.json
  packages/aid-conformance/tsup.config.ts
  pnpm-lock.yaml
  tracking/AGENT_REPORTS/feat_aid_conformance_REPORT.md
Due: eslint --cache --fix, prettier --write

docs(spec): emphasize base _agent.<domain> as canonical; clarify optional protocol-specific subdomains and client behavior (§2.4)
  packages/docs/specification.md
Due: prettier --write

Docs/protocol subdomains (#48)
  packages/docs/specification.md
Due: prettier --write

docs(security): add security best practices page and cross-links in index/quickstart
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/security.md
Due: prettier --write

docs(security): add security best practices page and cross-links in index/quickstart (#49)
  packages/docs/index.md
  packages/docs/quickstart/index.md
  packages/docs/security.md
Due: prettier --write

docs: update architecture with parity CI; fix website links; add conformance package to root README; update POST_RELEASE_TODO statuses
  .github/ARCHITECTURE.md
  README.md
  packages/web/src/components/landing/showcase.tsx
  packages/web/src/components/landing/vision.tsx
  tracking/POST_RELEASE_TODO.md
Due: eslint --cache --fix, prettier --write

web(showcase): mark Python as Stable; add Conformance Suite card; add Coming Soon (Rust/C#/Java); minor copy tweaks
  packages/web/src/components/landing/showcase.tsx
Due: eslint --cache --fix, prettier --write

web(quick-start): theme-aligned step toggles using Lucide icons; remove emojis; fix types
  packages/web/src/components/landing/quick-start.tsx
Due: eslint --cache --fix, prettier --write

web(features): swap destructive (red) icon styling for primary (blue/neutral) accents
  packages/web/src/components/landing/features.tsx
Due: eslint --cache --fix, prettier --write
